body
  padding-top: $navbar-height
  font-family: Helvetica, Arial, sans-serif
  font-family: Roboto, Helvetica, Arial, sans-serif
  font-weight: 300
  color: $base-text-color

a, button, input, textarea, select, span
  outline: 0 !important

.dropdown-menu li a
  cursor: pointer

.dropdown-toggle i
  margin-left: 6px
  margin-top: -2px
