.view-dashboard
  min-width: 1280px

  .well-summary, .navbar, .pd-record
    .status-archived
      color: #555
    .status-delivered
      color: $brand-info
    .status-working
      color: $brand-warning
    .status-new
      color: $brand-danger

  .well-summary
    border-radius: 0 0 6px 6px
    padding: 10px
    h5
      font-size: 18px
      font-weight: 700
      text-transform: uppercase
      margin: 0 0 0.5em 0
      text-align: center
      padding-bottom: 4px
      border-bottom: 1px dotted #ccc
    ul
      font-size: 12px
      +clearfix
      text-align: left
      margin: 0
      &.list-status
        margin: 0 0 0.25em 0
        li
          line-height: 1.1em
          margin: 0 0 0.2em 0
          strong
            margin-right: 6px
            min-width: 15px
            text-align: right
            display: inline-block
      &.list-budget, &.list-total
        text-align: center
        li
          strong
            display: block
            font-size: 1.5em
          small
            display: block
            font-size: 0.6em
            text-transform: uppercase
            color: #aaa

  form
    clear: both
    margin: 0 0 1em 0
    +clearfix

    .panel-group
      position: relative
      margin: 0
      padding: 1px 0 0 0
      width: 100%

    .panel + .panel
      margin-top: 0

    .panel
      float: left
      margin: 0 20px 0 0
      box-shadow: 0 0 5px rgba(black,0.15)
      background: linear-gradient(to bottom, #fff, #eee)
      &:last-child
        margin-right: 0

      .panel-body
        padding: 0

      .small
        text-transform: uppercase
        font-size: 9px
        font-weight: 700
        color: #999
        line-height: 1em
        margin-bottom: 2px
        span
          font-weight: 300
          color: #bbb

      .inline-group
        float: left
        padding: 8px 10px
        border-left: 1px solid #eee
        &:first-child
          border: none

      .minimal
        .inline-group

      .form-group
        input.date-picker
          width: 85px
          text-align: center

        input.input-search
          width: 200px

      .rzslider
        width: 190px

  .results
    th
      a
        display: block
        cursor: pointer
        text-decoration: none
        color: #999
        i.fa
          margin-left: 6px
          font-size: 0.75em
          vertical-align: middle
          color: #999
      &.active
        a
          color: #555

    .col-budget
      text-align: right
    .col-status
      text-align: center
    .col-created, .col-modified
      text-align: center
