.modal
  .modal-header
    border-radius: 4px 4px 0 0
    background-color: #555
    padding-top: 10px
    padding-bottom: 10px
    .modal-title
      font-size: 16px
      color: white
      font-weight: 700
      text-transform: uppercase
  .modal-footer
    border-radius: 0 0 4px 4px
    background-color: #eee
    padding-top: 10px
    padding-bottom: 10px

.modal-confirm
  .modal-footer
    text-align: center
    button
      width: 100px
