@keyframes saved
  0%
    background-color: rgba($brand-success,0.5)
    transform: scale(1,1)
  20%
    transform: scale(1.1,1.1)
  100%
    background-color: rgba($brand-success,0)
    transform: scale(1,1)

tr.pd-record
  position: relative

  &.status-archived
    td:not(:first-child)
      opacity: 0.4

  &.status-delivered .col-status
    color: $brand-info
  &.status-working .col-status
    color: $brand-warning
  &.status-new .col-status
    color: $brand-danger


  &.editing
    box-shadow: 0 0 15px rgba(black,0.15)
    z-index: 100
    td
      opacity: 1 !important
      background-color: white

  &.blurred
    opacity: 0.5
    filter: blur(2px)

  &.saved
    animation: saved 0.3s linear

  button
    i.fa:not(.fa-times)
      vertical-align: middle

  td.col-options
    white-space: nowrap
    width: 1%
    min-width: 80px
