doctype html
html
  head
    title Project Dashboard
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href="css/app.css" rel="stylesheet")

  body

    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(ui-sref="dashboard") Project Dashboard
        .navbar-right
          ul.navbar-nav.nav
            li(ui-sref-active="active")
              a(href="mailto:frankrue@gmail.com")
                i.fa.fa-email
                | Support

    div(ui-view)

    script(src="js/app.bundle.js")
