.view.view-dashboard
  .container-fluid

    .pull-right
      .well.well-summary
        h5 Current Data Summary
        .row
          .col-sm-4
            ul.list-unstyled.list-status
              li.status-new(ng-if="vm.getTotalByStatus(filteredResults, 'new') > 0")
                strong {{ vm.getTotalByStatus(filteredResults, 'new') }}
                | New
              li.status-working(ng-if="vm.getTotalByStatus(filteredResults, 'working') > 0")
                strong {{ vm.getTotalByStatus(filteredResults, 'working') }}
                | Working
              li.status-delivered(ng-if="vm.getTotalByStatus(filteredResults, 'delivered') > 0")
                strong {{ vm.getTotalByStatus(filteredResults, 'delivered') }}
                | Delivered
              li.status-archived(ng-if="vm.getTotalByStatus(filteredResults, 'archived') > 0")
                strong {{ vm.getTotalByStatus(filteredResults, 'archived') }}
                | Archived
          .col-sm-4
            ul.list-unstyled.list-budget
              li
                | Total Budget in Dataset:
                strong ${{ vm.getTotalFromSet(filteredResults) | number:0 }}
                small (rounded)
          .col-sm-4
            ul.list-unstyled.list-total
              li
                | Total Projects:
                strong {{ filteredResults.length }}

    h2 Dashboard
    p
      | Use the toolbar below to filter your records.<br />
      strong Each record can be quickly editing by clicking on its row.

    filter-bar(filter="vm.filter" labels="vm.labels" status-labels="vm.statusLabels" reset="vm.reset()")

    .results
      table.table.table-striped

        thead
          tr
            th(ng-repeat="label in ::vm.labels track by $index" ng-class="{ active: vm.getSortBy().label == label }" class="col-{{ ::label }}")
              a(ng-click="vm.setSortBy(label)")
                | {{ ::vm.getDisplayLabel(label) }}
                i.fa.fa-chevron-up(ng-if="vm.getSortBy().label == label && vm.getSortBy().direction == '+'")
                i.fa.fa-chevron-down(ng-if="vm.getSortBy().label == label && vm.getSortBy().direction == '-'")
            th.text-right Options

        tbody
          tr.pd-record(
            ng-repeat="r in filteredResults = (vm.results | filter:vm.getFilter | orderBy:vm.getOrderBy()) track by $index"
            class="status-{{ r.status }}"
            pd-record="r"
            sort-by="vm.getSortBy()"
            labels="vm.labels"
            status-labels="vm.statusLabels"
            index="{{ $index }}"
          )
