.filter-bar

  form.form-inline
    .panel-group
      .panel.panel-default
        .panel-body

          .inline-group
            .small Filter by Created Date
            .form-group(uib-dropdown)
              .input-group.input-group-sm(uib-dropdown-toggle)
                .input-group-addon Start
                input.form-control.date-picker(value="{{ vm.filter.startDateTime | date:'M/d/yyyy' }}" placeholder="Start Date")
                .input-group-addon: i.fa.fa-calendar
              ul(uib-dropdown-menu)
                datetimepicker(data-datetimepicker-config="vm.dateTimeConfig" ng-model="vm.filter.startDateTime")
            .form-group(uib-dropdown)
              .input-group.input-group-sm(uib-dropdown-toggle)
                .input-group-addon End
                input.form-control.date-picker(value="{{ vm.filter.endDateTime | date: 'M/d/yyyy' }}" placeholder="End Date")
                .input-group-addon: i.fa.fa-calendar
              ul(uib-dropdown-menu)
                datetimepicker(data-datetimepicker-config="vm.dateTimeConfig" ng-model="vm.filter.endDateTime")

          .inline-group
            .small Filter By Status
            .form-group
              div(uib-dropdown)
                button.btn.btn-sm.btn-default(uib-dropdown-toggle)
                  | {{ vm.getDisplayStatus(vm.filter.status) }}
                  i.fa.fa-chevron-down
                ul(uib-dropdown-menu)
                  li: a(ng-click="vm.setFilterStatus('')") Show All
                  li(ng-repeat="(status, display) in ::vm.statusLabels track by $index")
                    a(class="status-{{ status }}" ng-click="vm.setFilterStatus(status)") {{ ::display }}


          .inline-group
            .small Filter by Text Search
            .form-group
              input.input-sm.input-search.form-control(ng-model="vm.filter.search" placeholder="Search Title, Division, and Owner")

          .inline-group
            .small Filter by Budget Range <span>(drag sliders)</span>
            .form-group
              rzslider(
                rz-slider-model="vm.filter.budgetMin"
                rz-slider-high="vm.filter.budgetMax"
                rz-slider-options="vm.sliderConfig"
              )

          .inline-group.text-center
            .small Reset
            button.btn.btn-block.btn-sm.btn-danger(ng-click="vm.reset()"): i.fa.fa-undo


      .panel.panel-default
        .panel-body

          .inline-group
            .small Export Dataset
            .form-group
              .btn-group.btn-group-sm
                button.btn.btn-default(ng-click="vm.export('csv')"): i.fa.fa-file-text-o
                button.btn.btn-default(ng-click="vm.export('excel')"): i.fa.fa-file-excel-o
                button.btn.btn-default(ng-click="vm.export('pdf')"): i.fa.fa-file-pdf-o

      .panel.panel-default
        .panel-body

            .inline-group.text-center
              .small Add New
              button.btn.btn-block.btn-sm.btn-primary(ng-click="vm.add()"): i.fa.fa-plus
