tr

  td.col-title(ng-class="{ active: vm.getSortBy().label == 'title' }" ng-click="vm.quickEdit()")
    .pd-label {{ vm.getCol('title') }}

  td.col-division(ng-class="{ active: vm.getSortBy().label == 'division' }" ng-click="vm.quickEdit()")
    .pd-label {{ vm.getCol('division') }}

  td.col-project_owner(ng-class="{ active: vm.getSortBy().label == 'project_owner' }" ng-click="vm.quickEdit()")
    .pd-label(ng-if="!vm.editing") {{ vm.getCol('project_owner') }}
    .form-vertical(ng-if="vm.editing")
      .form-group
        input.input-sm.form-control(ng-change="vm.updateModified()" ng-model="vm.pdRecord.project_owner" placeholder="Project Owner")

  td.col-budget(ng-class="{ active: vm.getSortBy().label == 'budget' }" ng-click="vm.quickEdit()")
    .pd-label(ng-if="!vm.editing") {{ vm.getCol('budget') }}
    .form-vertical(ng-if="vm.editing")
      .form-group
        input.input-sm.form-control(ng-change="vm.updateModified()" ng-model="vm.pdRecord.budget" placeholder="budget" type="number")

  td.col-status(ng-class="{ active: vm.getSortBy().label == 'status' }" ng-click="vm.quickEdit()")
    .pd-label(ng-if="!vm.editing") {{ vm.getCol('status') }}
    .form-vertical(ng-if="vm.editing")
      .form-group
        .btn-group.btn-group-sm(uib-dropdown)
          button.btn.btn-sm.btn-default(uib-dropdown-toggle)
            | {{ vm.pdRecord.status }}
            i.fa.fa-chevron-down
          ul.dropdown-menu-right(uib-dropdown-menu)
            li(ng-repeat="(status, display) in vm.statusLabels track by $index")
              a(class="status-{{ status }}" ng-click="vm.setRecordPair('status',status)") {{ status }}

  td.col-created(ng-class="{ active: vm.getSortBy().label == 'created' }" ng-click="vm.quickEdit()")
    .pd-label {{ vm.getCol('created') }}

  td.col-modified(ng-class="{ active: vm.getSortBy().label == 'modified' }" ng-click="vm.quickEdit()")
    .pd-label {{ vm.getCol('modified') }}

  td.text-right.col-options
    .btn-group.btn-group-xs
      button.btn.btn-default(ng-click="vm.open()" title="Open Record...")
        i.fa.fa-fw.fa-external-link
      button.btn.btn-danger(ng-if="vm.editing" ng-click="vm.closeQuickEdit()" title="Close Quick Edit...")
        i.fa.fa-fw.fa-times
